.joweb-field label {
    font-weight: normal;
}

.joweb-field .joweb-check {
    display: block;
    margin: 0;
    margin-top: 8px;
}

.joweb-field.joweb-field-has-error .col-form-label {
    color: #dc3545;
}

.joweb-field.joweb-field-has-error .form-control {
    border-color: #dc3545;
}


/* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */

.joweb-field .grow-wrap {
    display: grid;
}

.joweb-field .grow-wrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.joweb-field .grow-wrap>textarea {
    resize: none;
    overflow: hidden;
    min-height: 0;
}

.joweb-field .grow-wrap>textarea,
.joweb-field .grow-wrap::after {
    padding: 0.5rem;
    font: inherit;
    grid-area: 1 / 1 / 2 / 2;
}

.joweb-attachments-del-btn {
    padding: 8px;
    cursor: pointer;
}

.joweb-html-field-content p {
    margin: 0;
}

.form-control.disabled {
    background-color: #e9ecef !important;
    opacity: 1;
}

.bootstrap-tag-input-container {
    display: block;
    width: 100%;
    min-height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s;
}

.bootstrap-tag-input-container .bootstrap-tag-input {
    margin-bottom: 0.2rem;
    outline: none;
    border: 0;
    width: 250px;
}

.bootstrap-tag-input-container .bootstrap-tag-input .badge {
    margin-bottom: 0.2rem;
    margin-right: 0.5em;
}

.bootstrap-tag-input-container .bootstrap-tag-input .badge span {
    padding-left: 0.5em;
    transition: 0.2s;
    cursor: pointer;
}

.bootstrap-tag-input-container .bootstrap-tag-input .badge span:hover {
    color: grey;
}