
.joweb-field .col-form-label {
    font-weight: normal;
}

.joweb-field.joweb-field-required .col-form-label {
    font-weight: bold;
}

.joweb-field.joweb-field-has-error .col-form-label {
    color: #dc3545;
}

.joweb-field.joweb-field-has-error .form-control {
    border-color: #dc3545;
}

.joweb-html-field-content p {
    margin: 0;
}

.form-control.disabled{
    background-color: #e9ecef !important;
    opacity: 1;
}