.jowebutils_loading_indicator {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    z-index: 999999;
    background-color: #7C7BAD;
    color: white;
    padding: 5px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.navbar.jowebutils_navbar {
    background-image: none !important;
}

.o_portal_wrap .o_portal_my_doc_table.jowebutils-table td {
    white-space: normal;
    vertical-align: top;
}

.o_portal_submenu.breadcrumb {
    background: transparent;
}

/* OwlDialog styles */

.o_owl_dialog {
    position: static;
}
.o_owl_dialog .modal {
    display: block;
}
.o_owl_dialog .modal-header, .o_owl_dialog .modal-footer {
    background: #ececec;
}
.o_owl_dialog .modal-body {
    background: #fff;
}